<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6a87b3">  <td>20/09/08 23:07:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.SearchTestcase@71a794e5]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@364604394</td>   <td></td> </tr>
<tr bgcolor="678e9f">  <td>20/09/08 23:07:39</td>   <td>17182</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchTestcase.TC_01_searchWithValidDta(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.SearchTestcase@71a794e5]">TC_01_searchWithValidDta</td> 
  <td>main@364604394</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>20/09/08 23:07:39</td>   <td>17955</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.SearchTestcase@71a794e5]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@364604394</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>20/09/08 23:07:48</td>   <td>26461</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.SearchTestcase@71a794e5]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@364604394</td>   <td></td> </tr>
<tr bgcolor="678e9f">  <td>20/09/08 23:08:03</td>   <td>41825</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchTestcase.TC_02_searchWithInvalidDta(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.SearchTestcase@71a794e5]">TC_02_searchWithInvalidDta</td> 
  <td>main@364604394</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>20/09/08 23:08:03</td>   <td>41837</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.SearchTestcase@71a794e5]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@364604394</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>20/09/08 23:08:10</td>   <td>48099</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.SearchTestcase@71a794e5]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@364604394</td>   <td></td> </tr>
<tr bgcolor="678e9f">  <td>20/09/08 23:08:24</td>   <td>62329</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchTestcase.TC_03_searchPageWithNavigationLinks(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.SearchTestcase@71a794e5]">TC_03_searchPageWithNavigationLinks</td> 
  <td>main@364604394</td>   <td></td> </tr>
<tr bgcolor="6a87b3">  <td>20/09/08 23:08:24</td>   <td>62341</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.SearchTestcase@71a794e5]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@364604394</td>   <td></td> </tr>
</table>
