<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 21:54:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_Entry_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_Entry_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 21:55:29</td>   <td>51672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_Entry_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_Entry_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 21:56:16</td>   <td>98158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_LeftNavigation_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_LeftNavigation_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 21:56:59</td>   <td>141931</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_LeftNavigation_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_LeftNavigation_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 21:57:42</td>   <td>184544</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_LeftNavigation_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_LeftNavigation_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 21:58:30</td>   <td>232600</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_LeftNavigation_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_LeftNavigation_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 21:59:18</td>   <td>280646</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_LeftNavigation_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_LeftNavigation_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 22:00:04</td>   <td>326444</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_LeftNavigation_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_LeftNavigation_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 22:00:50</td>   <td>372648</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_LeftNavigation_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_LeftNavigation_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 22:01:36</td>   <td>418333</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_ProductDetails_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_ProductDetails_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 22:02:19</td>   <td>461506</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_ProductDetails_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_ProductDetails_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 22:03:02</td>   <td>504433</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_ProductDetails_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_ProductDetails_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 22:03:43</td>   <td>545696</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_ProductDetails_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_ProductDetails_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 22:04:24</td>   <td>586605</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_ProductDetails_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_ProductDetails_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 22:05:05</td>   <td>627921</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_ProductDetails_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_ProductDetails_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 22:05:48</td>   <td>670219</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_ProductDetails_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_ProductDetails_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 22:06:30</td>   <td>712473</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_ProductDetails_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_ProductDetails_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 22:07:10</td>   <td>752422</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_ProductDetails_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_ProductDetails_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 22:07:53</td>   <td>795536</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_Quantity_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_Quantity_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 22:08:45</td>   <td>847507</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_Quantity_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_Quantity_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 22:09:47</td>   <td>909464</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_Quantity_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_Quantity_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 22:10:38</td>   <td>960417</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_Quantity_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_Quantity_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 22:11:30</td>   <td>1012808</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_Quantity_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_Quantity_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 22:12:19</td>   <td>1061224</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_Quantity_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_Quantity_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 22:13:09</td>   <td>1111533</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_Quantity_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_Quantity_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 22:13:33</td>   <td>1135435</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_Quantity_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_Quantity_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 21:55:09</td>   <td>31018</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 21:55:57</td>   <td>79314</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 21:56:40</td>   <td>122697</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 21:57:23</td>   <td>165033</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 21:58:11</td>   <td>213223</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 21:58:58</td>   <td>260551</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 21:59:44</td>   <td>306522</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:00:30</td>   <td>352365</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:01:15</td>   <td>397732</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:02:00</td>   <td>442174</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:02:43</td>   <td>484960</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:03:24</td>   <td>526546</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:04:05</td>   <td>567137</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:04:46</td>   <td>608918</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:05:29</td>   <td>651315</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:06:11</td>   <td>693610</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:06:51</td>   <td>733332</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:07:33</td>   <td>775674</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:08:26</td>   <td>828570</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:09:27</td>   <td>889724</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:10:18</td>   <td>940674</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:11:11</td>   <td>993446</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:12:00</td>   <td>1042232</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:12:49</td>   <td>1091228</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:13:14</td>   <td>1116402</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:14:05</td>   <td>1167287</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 21:54:20</td>   <td>-17889</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 21:55:14</td>   <td>36920</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 21:56:03</td>   <td>84960</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 21:56:46</td>   <td>128180</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 21:57:28</td>   <td>170562</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 21:58:16</td>   <td>218515</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 21:59:04</td>   <td>266085</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 21:59:50</td>   <td>312027</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:00:35</td>   <td>357937</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:01:21</td>   <td>403452</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:02:05</td>   <td>447731</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:02:48</td>   <td>490515</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:03:30</td>   <td>531978</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:04:10</td>   <td>572618</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:04:52</td>   <td>614436</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:05:34</td>   <td>656794</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:06:17</td>   <td>699101</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:06:56</td>   <td>738789</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:07:39</td>   <td>781354</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:08:32</td>   <td>834047</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:09:33</td>   <td>895239</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:10:24</td>   <td>946253</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:11:16</td>   <td>998920</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:12:05</td>   <td>1047769</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:12:54</td>   <td>1096525</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:13:19</td>   <td>1121906</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
</table>
