<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b92f3">  <td>20/09/17 21:54:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 21:54:38</td>   <td>17889</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_Entry_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_Entry_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 21:55:09</td>   <td>48907</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 21:55:14</td>   <td>54809</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 21:55:29</td>   <td>69561</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_Entry_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_Entry_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 21:55:57</td>   <td>97203</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 21:56:03</td>   <td>102849</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 21:56:16</td>   <td>116047</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_LeftNavigation_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_LeftNavigation_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 21:56:40</td>   <td>140586</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 21:56:46</td>   <td>146069</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 21:56:59</td>   <td>159820</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_LeftNavigation_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_LeftNavigation_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 21:57:23</td>   <td>182922</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 21:57:28</td>   <td>188451</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 21:57:42</td>   <td>202433</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_LeftNavigation_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_LeftNavigation_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 21:58:11</td>   <td>231112</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 21:58:16</td>   <td>236404</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 21:58:30</td>   <td>250489</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_LeftNavigation_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_LeftNavigation_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 21:58:58</td>   <td>278440</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 21:59:04</td>   <td>283974</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 21:59:18</td>   <td>298535</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_LeftNavigation_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_LeftNavigation_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 21:59:44</td>   <td>324411</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 21:59:50</td>   <td>329916</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 22:00:04</td>   <td>344333</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_LeftNavigation_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_LeftNavigation_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:00:30</td>   <td>370254</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:00:35</td>   <td>375826</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 22:00:50</td>   <td>390537</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_LeftNavigation_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_LeftNavigation_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:01:15</td>   <td>415621</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:01:21</td>   <td>421341</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 22:01:36</td>   <td>436222</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_ProductDetails_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_ProductDetails_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:02:00</td>   <td>460063</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:02:05</td>   <td>465620</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 22:02:19</td>   <td>479395</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_ProductDetails_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_ProductDetails_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:02:43</td>   <td>502849</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:02:48</td>   <td>508404</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 22:03:02</td>   <td>522322</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_ProductDetails_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_ProductDetails_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:03:24</td>   <td>544435</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:03:30</td>   <td>549867</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 22:03:43</td>   <td>563585</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_ProductDetails_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_ProductDetails_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:04:05</td>   <td>585026</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:04:10</td>   <td>590507</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 22:04:24</td>   <td>604494</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_ProductDetails_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_ProductDetails_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:04:46</td>   <td>626807</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:04:52</td>   <td>632325</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 22:05:05</td>   <td>645810</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_ProductDetails_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_ProductDetails_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:05:29</td>   <td>669204</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:05:34</td>   <td>674683</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 22:05:48</td>   <td>688108</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_ProductDetails_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_ProductDetails_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:06:11</td>   <td>711499</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:06:17</td>   <td>716990</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 22:06:30</td>   <td>730362</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_ProductDetails_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_ProductDetails_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:06:51</td>   <td>751221</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:06:56</td>   <td>756678</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 22:07:10</td>   <td>770311</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_ProductDetails_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_ProductDetails_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:07:33</td>   <td>793563</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:07:39</td>   <td>799243</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 22:07:53</td>   <td>813425</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_Quantity_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_Quantity_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:08:26</td>   <td>846459</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:08:32</td>   <td>851936</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 22:08:45</td>   <td>865396</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_Quantity_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_Quantity_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:09:27</td>   <td>907613</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:09:33</td>   <td>913128</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 22:09:47</td>   <td>927353</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_Quantity_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_Quantity_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:10:18</td>   <td>958563</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:10:24</td>   <td>964142</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 22:10:38</td>   <td>978306</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_Quantity_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_Quantity_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:11:11</td>   <td>1011335</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:11:16</td>   <td>1016809</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 22:11:30</td>   <td>1030697</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_Quantity_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_Quantity_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:12:00</td>   <td>1060121</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:12:05</td>   <td>1065658</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 22:12:19</td>   <td>1079113</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_Quantity_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_Quantity_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:12:49</td>   <td>1109117</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:12:54</td>   <td>1114414</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 22:13:09</td>   <td>1129422</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_Quantity_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_Quantity_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:13:14</td>   <td>1134291</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:13:19</td>   <td>1139795</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>20/09/17 22:13:33</td>   <td>1153324</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Team9_ProductDescriptionPageTestCases.TC_DD_PDP_Quantity_Cases(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">TC_DD_PDP_Quantity_Cases</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="9b92f3">  <td>20/09/17 22:14:05</td>   <td>1185176</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.Team9_ProductDescriptionPageTestCases@76329302]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
</table>
